# U.S. Environmental Protection Agency

In [1]:
import pandas as pd

### Data Gathering

In [2]:
# 2018 EPA Air Quality Index by county (1049 records, 19 columns)
aqi = pd.read_csv('../Data/US_EPA_AQI_2018.csv')
print(aqi.shape)
aqi.head()

(1049, 19)

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35,0,0,214,0,56,0
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27,0,0,0,0,110,0
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35,0,0,209,0,68,0
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35,0,0,317,0,33,0
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33,0,0,222,0,0,0

In [3]:
list(aqi.columns)

['State',
 'County',
 'Year',
 'Days with AQI',
 'Good Days',
 'Moderate Days',
 'Unhealthy for Sensitive Groups Days',
 'Unhealthy Days',
 'Very Unhealthy Days',
 'Hazardous Days',
 'Max AQI',
 '90th Percentile AQI',
 'Median AQI',
 'Days CO',
 'Days NO2',
 'Days Ozone',
 'Days SO2',
 'Days PM2.5',
 'Days PM10']

In [4]:
# Air Quality Index legend
# https://airnow.gov/index.cfm?action=aqibasics.aqi
aqi = aqi[['State','Days with AQI','Good Days']]
aqi = aqi.groupby(['State']).median()
aqi.head()

            Days with AQI  Good Days
State
Alabama             324.0      251.0
Alaska              357.5      282.0
Arizona             365.0      261.0
Arkansas            362.0      261.5
California          365.0      203.0

In [5]:
aqi.describe()

       Days with AQI   Good Days
count      53.000000   53.000000
mean      351.764151  274.943396
std        31.370706   41.882810
min       175.000000  131.000000
25%       357.500000  261.000000
50%       362.000000  276.000000
75%       365.000000  306.000000
max       365.000000  355.000000

### Data Loading

In [6]:
aqi.to_pickle("../Data/aqi.pkl")